@model IEnumerable<AutoGrader.Models.Class>

@{
	ViewData["Title"] = "StudentHome";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Classes</h2>

@using AutoGrader.Models.ViewModels

@Html.Partial("JoinClass", new JoinClassViewModel())

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					<a asp-action="ViewAssignments" asp-route-classId="@item.Id">View Assignments</a>
					@*<a asp-action="Details" asp-route-id="@item.Id">Leave Class</a> |*@
				</td>
			</tr>
		}
	</tbody>
</table>
