@model AutoGrader.Models.Class

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClassKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClassKey)
        </dd>
    </dl>
</div>
<br />
<h4>Assignment List</h4>

@Html.Partial("ClassAssignmentPartial", ViewData["Assignments"])