@model AutoGrader.Models.Submission.Submission

@{
    ViewData["Title"] = "Submission Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submission Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assignment Name
        </dt>
        <dd>
            @ViewData["Assignmentname"]
        </dd>
        <dt>
            Submission ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmissionId)
        </dd>
        <dt>
            Submission Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmissionTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd>
            @{
                var grade = Model.Grade * 100;
            }
            @grade%
        </dd>
        <dt>
            Compiled
        </dt>
        <dd>
            @Model.Output.Compiled.ToString()
        </dd>
        <dt>
            Runtime
        </dt>
        <dd>
            @{
                string text;
                if (Model.Output.Runtime == -1)
                {
                    text = "Code did not compile.";
                }
                else
                {
                    text = Model.Output.Runtime + " ms";
                }
            }
            @text
        </dd>
    </dl>
</div>
<br />
<div>
    <dl class="dl-horizontal">
        @{
            int i = 1;
            foreach (var test in Model.Output.TestCases)
            {
                @if (test.Pass)
                {
                    text = "Pass";
                }
                else
                {
                    text = "Fail";
                }

                <dt>
                    Test Case @i:
                </dt>
                <dd>
                    @text
                </dd>
                i++;
            }
        }
    </dl>
</div>

@if (Model.Output.CompileOutput != "")
{
    <h4>Compiler Output</h4>
    <div>
        <textarea draggable="false" readonly="readonly" rows="8" style="width:100%; resize:none;">@Model.Output.CompileOutput</textarea>
    </div>
}
<h4>Source Code (@Model.Input.Language)</h4>
<div>
    <textarea draggable="false" readonly="readonly" rows="15" style="width:100%; resize:none; font-family: 'Courier New'">@Model.Input.SourceCode</textarea>
</div>
